<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>

<body class="body__porcinos">
    <section class="section-nav-bar">
        <div class="container-user">
            <div class="container__btn__perfil">
                <img src="../static/iconos/icon user.svg" alt="" width="25" class="svg__user__2">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
            <div class="menu">
                <img src="../static/iconos/menu_icon.svg" alt="" class="menu-icons">
                <img src="../static/iconos/close_icon.svg" alt="" class="menu-icons">
            </div>
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')">
                            <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt=""
                                class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/gestionar_dietas.html">
                            <img src="../static/iconos/icon plate.svg" width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Usuario</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html"
                            onclick="redirectWithDelay(event, 'configuracion.html')">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section__add__por">
        <section class="container__logo__user">
            <div class="container__back__logo">
                <a href="alimentos.html"><img src="/src/static/iconos/back icon.svg" alt="Icon Back"
                        class="icon__back"></a>
                <a href="/src/templates/home.html"><img src="/src/static/iconos/Logo.svg" alt="Logo Edupork"
                        class="logo"></a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil">Cristhian</button>
            </div>
        </section>

        <header class="container container__title">
            <h1>Registrar Alimento</h1>
        </header>

        <form id="formRegistrar">
            <section class="container container_alimento container__add__por">
                <!-- Columna 1 -->
                <div class="seccion1">
                    <p>Inserte Una Imagen</p>
                    <input id="imagen" class="input_add" type="file" accept=".png, .jpeg, .jpg" tabindex="1">

                    <p>Proteína Cruda (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Proteína Cruda" id="proteina_cruda" tabindex="5">

                    <p>Fósforo (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese El Fósforo"
                        id="fosforo" tabindex="9">


                    <p>Metionina (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Metionina" id="metionina" tabindex="13">

                </div>

                <!-- Columna 2 -->
                <div class="seccion1">
                    <p>Nombre Del Alimento</p>
                    <input class="input_add" type="text" placeholder="Ingrese El Nombre" id="nombre" required
                        tabindex="2">

                    <p>Fibra Cruda (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Fibra Cruda" id="fibra_cruda" tabindex="6">

                    <p>Sodio (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese El Sodio"
                        id="sodio" tabindex="10">

                    <p>Metionina + Cisteína (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Metionina + Cisteína" id="metionina_cisteina" tabindex="14">
                </div>

                <!-- Columna 3 -->
                <div class="seccion1">
                    <p>Materia Seca (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Materia Seca" id="materia_seca" tabindex="3">

                    <p>Extracto Etéreo (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese El Extracto Etéreo" id="extracto_etereo" tabindex="7">

                    <p>Arginina (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese La Arginina"
                        id="arginina" tabindex="11">

                    <p>Treonina (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese La Treonina"
                        id="treonina" tabindex="15">

                </div>

                <!-- Columna 4 -->
                <div class="seccion1">
                    <p>Energía M (Kcal/kg)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese La Energía Metabolizable" id="energia_m" tabindex="4">

                    <p>Calcio (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese El Calcio"
                        id="calcio" tabindex="8">

                    <p>Lisina (%)</p>
                    <input class="input_add" type="number" required step="any" min="0" placeholder="Ingrese La Lisina"
                        id="lisina" tabindex="12">

                    <p>Triptofano (%)</p>
                    <input class="input_add" type="number" required step="any" min="0"
                        placeholder="Ingrese El Triptofano" id="triptofano" tabindex="16">
                </div>

                <input class="input_add1" value="Guardar" type="submit" tabindex="17">
            </section>
        </form>
    </section>

    <script src="/src/static/js/script.js"></script>
    <script>
        crear_alimento()
        notificaciones_nuevo();
        document.getElementById("formRegistrar").addEventListener("keydown", function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                const focusables = Array.from(this.querySelectorAll("input, select, textarea, button"))
                    .filter(el => !el.disabled && el.type !== "hidden")
                    .sort((a, b) => (a.tabIndex || 0) - (b.tabIndex || 0)); // orden según tabindex
                const index = focusables.indexOf(document.activeElement);
                const next = focusables[index + 1] || focusables[0];
                next.focus();
            }
        });


    </script>
</body>

</html>