<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <script src="/src/static/js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>
<body class="body__porcinos">
 <section class="section-nav-bar" >
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" > <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html" onclick="redirectWithDelay(event, 'notificaciones.html')">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html" class="flex-icons" onclick="redirectWithDelay(event, 'alimentos.html')">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt="" class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src//templates/gestionar_dietas.html" onclick="redirectWithDelay(event, 'gestionar_dietas.html')" >
                            <img src="../static/iconos/icon plate.svg"  width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Usuario</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section__add__por" >

        <section class="container__logo__user">
            <div class="container__back__logo" >
                <a href="/src/templates/porcinos.html">
                    <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                </a>
                <a href="/src/templates/home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
        </section>

        <header class="container container__title">
            <h1>Agregar porcinos</h1>
        </header>

        <section class="container container__add__por">
            <div class="container__label__input">
                <label for="id_porcino"> ID del porcino </label>
                <input class="input__add__por" type="number" name="id_porcino" id="id_porcino" min="1" oninput = "this.value = Math.abs(this.value)" placeholder="Ingrese el id del porcino" required>
            </div>

            <div class="container__label__input">
                <label for="peso_inicial"> Peso inicial </label>
                <input class="input__add__por" type="number" name="peso_inicial" id="peso_inicial" min="1" oninput = "this.value = Math.abs(this.value)" placeholder="Ingrese el peso inicial" required>
            </div>

            <div class="container__label__input">
                <label for="peso_final"> Peso final </label>
                <input class="input__add__por" type="number" name="peso_final" id="peso_final" min="1" oninput = "this.value = Math.abs(this.value)" placeholder="Ingrese el peso final" required>
            </div>

            <div class="container__label__input">
                <label for="fecha"> Fecha de nacimiento </label>
                <input type="date" name="fecha" id="fecha" class="input__add__por" required>
            </div>
            
            <div class="container__label__input">
                <label for="raza"> Raza </label>
                <select name="" id="raza" class="input__add__por" required>
                    <option value="" disabled selected>Seleccione la raza...</option>
                    <option value="1">Landrace</option>
                    <option value="2">Duroc</option>
                    <option value="3">Pietrain</option>
                    <option value="4">Large white</option>
                </select>
            </div>

            <div class="container__label__input">
                <label for="sexo"> Sexo </label>
                <select name="" id="sexo" class="input__add__por" required>
                    <option value="" disabled selected>Seleccione el sexo...</option>
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
            </div>


            <div class="container__label__input">
                <label for="etapa"> Etapa de vida </label>
                <select name="" id="etapa" class="input__add__por" required>
                    <option value="" disabled selected>Seleccione la Etapa de vida...</option>
                    <option value="1">Pre-inicial</option>
                    <option value="2">Inicial</option>
                    <option value="3">Crecimiento</option>
                    <option value="4">Desarrollador</option>
                    <option value="5">Finalizador</option>
                </select>
            </div>
            <div class="container__label__input">
                <label for="descripcion"> Descripción </label>
                <textarea name="" id="descripcion" class="input__add__por" placeholder="Descripcion del animal."></textarea>
            </div>
            <button type="button" class="btn btn--guardar" onclick="agregar_porcino()">Agregar Porcino</button>
        </section>
    </section>
</body>
</html>