<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@0.9.8/dist/driver.min.css">

    <!-- Driver.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/driver.js@0.9.8/dist/driver.min.js"></script>
    <title>Edupork</title>
</head>

<body class="body_dietas">
    <section class="section-nav-bar">
        <div class="container-user">
            <div class="container__btn__perfil">
                <img src="../static/iconos/icon user.svg" alt="" width="25" class="svg__user__2">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
            <div class="menu">
                <img src="../static/iconos/menu_icon.svg" alt="" class="menu-icons">
                <img src="../static/iconos/close_icon.svg" alt="" class="menu-icons">
            </div>
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')">
                            <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt=""
                                class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/gestionar_dietas.html">
                            <img src="../static/iconos/icon plate.svg" width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Usuario</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html"
                            onclick="redirectWithDelay(event, 'configuracion.html')">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="contenido_dietas">

        <header class="container container__title_dietas">
            <h1>Crear Dietas</h1>
        </header>


        <section class="container container__search__bar_dietas">
            <div class="separador">
                <img src="/src/static/iconos/icon lupa.svg" alt="">
                <input type="text" class="input__id" id="id_alimento" placeholder="Nombre del alimento"
                    list="lista_alimentos">
                <datalist id="lista_alimentos"></datalist>
            </div>
            <div class="final_buttom">
                <button type="button" class="btn" onclick="consulta_individual_alimento_disponible()">Consultar</button>
            </div>
            <label onclick="dietas()" class="contenedor">
                <p class="color_linea">consultar todo</p>
            </label>
        </section>


        <section id="contenedor_dietas" class="container container_dietas">
            <label class="contenedor1">
                <input type="checkbox" id="check1">
                <span class="custom-checkbox"></span>
                <p class="color_p">Ver alimentos seleccionados</p>
            </label>
            <div class="alimentos_en_dieta" id="alimentos_en_dieta">
            </div>
            <button type="button" class="btn1" onclick="guardarDieta();">Guardar</button>
        </section>



        <section class="container buscador_etapa_dietas">
            <form class="formulario_buscar">
                <div class="container__filtro">
                    <img src="/src/static/iconos/icon filter.svg" alt="" id="svg__filter">
                    <select name="" id="select-etapas" class="filter_dietas">
                        <option value="" disabled selected>Seleccione la Etapa de vida</option>
                    </select>
                </div>
            </form>
        </section>

        <section class="container container_requerimientos_alimento">
            <div class="requerimintos_nutricionales_alimentos">
                <div class="requisitos_nutricionales1">
                    <div class="columnas_nutricionales1">
                        <h5>materia seca: <label id="materia_seca_label">(%)</label></h5>
                        <h5>Energia M: <label id="energia_metabolizable_label">Kcal/K</label></h5>
                        <h5>proteina cruda: <label id="proteina_cruda_label">(%)</label></h5>
                        <h5>fibra cruda: <label id="fibra_cruda_label">(%)</label></h5>
                        <h5>Extracto Etereo: <label id="extracto_etereo_label">(%)</label></h5>
                        <h5>Calcio: <label id="calcio_label">(%)</label></h5>
                        <h5>Fosforo Disponible: <label id="fosforo_disponible_label">(%)</label></h5>
                    </div>

                    <div class="columnas_nutricionales1">
                        <h5>sodio: <label id="sodio_label">(%)</label></h5>
                        <h5>Arginina: <label id="arginina_label">(%)</label></h5>
                        <h5>Lisina: <label id="lisina_label">(%)</label></h5>
                        <h5>Treonina: <label id="treonina_label">(%)</label></h5>
                        <h5>Metionina: <label id="metionina_label">(%)</label></h5>
                        <h5>Metionina+cistenina: <label id="metionina_cistenina_label">(%)</label></h5>
                        <h5>Triptófano: <label id="triptofano_label">(%)</label></h5>
                    </div>


                </div>
            </div>
            <canvas id="graficoMezcla" width="50px" height="50px"></canvas>


            </canvas>
        </section>


        <section class="container container_requerimientos_etapa">
            <div class="titulo_requerimientos">
                <h5>requerimientos nutricionales de la etapa</h5>
            </div>
            <div class="requisitos_nutricionales">
                <div class="columnas_nutricionales">
                    <p>materia seca: <span id="materia_seca" class="valor"> (%) </span></p>
                    <p>Energia metabolizable: <span id="energia_metabolizable" class="valor">Kcal/k</span></p>
                    <p>proteina cruda: <span id="proteina_cruda" class="valor">(%)</span></p>
                    <p>fibra cruda: <span id="fibra_cruda" class="valor">(%)</span></p>
                    <p>Extracto Etereo: <span id="extracto_etereo" class="valor">(%)</span></p>
                    <p>Calcio: <span id="calcio" class="valor">(%)</span></p>
                    <p>Fosforo Disponible: <span id="fosforo_disponible" class="valor">(%)</span></p>
                </div>

                <div class="columnas_nutricionales">
                    <p>sodio: <span id="sodio" class="valor">(%)</span></p>
                    <p>Arginina: <span id="arginina" class="valor">(%)</span></p>
                    <p>Lisina: <span id="lisina" class="valor">(%)</span></p>
                    <p>Treonina: <span id="treonina" class="valor">(%)</span></p>
                    <p>Metionina: <span id="metionina" class="valor">(%)</span></p>
                    <p>Metionina + cistenina: <span id="metionina_cistenina" class="valor">(%)</span></p>
                    <p>Triptófano: <span id="triptofano" class="valor">(%)</span></p>
                </div>
            </div>



        </section>

    </section>
    <div onclick="iniciarTourAgregarDietas()" class="ayuda">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#fff" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 14a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-9.5a3.625 3.625 0 0 0-3.625 3.625a1 1 0 1 0 2 0a1.625 1.625 0 1 1 2.23 1.51c-.676.27-1.605.962-1.605 2.115V14a1 1 0 1 0 2 0c0-.244.05-.366.261-.47l.087-.04A3.626 3.626 0 0 0 12 6.5"/></g></svg>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/src/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        dietas();
        rellenar_etapa_vida_en_dietas();
        timesleep();
        inicializarGraficoVacio();
        const h5Mapping = {
            "MS": "materia_seca_label",
            "EM-C": "energia_metabolizable_label",
            "PC": "proteina_cruda_label",
            "FC": "fibra_cruda_label",
            "EE": "extracto_etereo_label",
            "CAL": "calcio_label",
            "F.DIS": "fosforo_disponible_label",
            "SOD": "sodio_label",
            "ARG": "arginina_label",
            "LIS": "lisina_label",
            "TREO": "treonina_label",
            "MET": "metionina_label",
            "M+CIS": "metionina_cistenina_label",
            "TRIP": "triptofano_label"
        };

        function mostrarMezcla() {
            const alimentosSeleccionados = [];

            document.querySelectorAll(".input_dietas").forEach(input => {
                const cantidad = parseFloat(input.value || 0);
                const id = parseInt(input.dataset.id);
                if (cantidad > 0) {
                    alimentosSeleccionados.push({ id_alimento: id, kg: cantidad });
                }
            });

            if (alimentosSeleccionados.length === 0) {
                Object.values(h5Mapping).forEach(id => {
                    const label = document.getElementById(id);
                    if (label) label.innerText = "0";
                });
                return;
            }

            fetch(`${URL_BASE}/mezcla_nutricional`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ alimentos: alimentosSeleccionados })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.mezcla_nutricional) {
                        for (const nutriente in data.mezcla_nutricional) {
                            const labelId = h5Mapping[nutriente];
                            if (labelId) {
                                const label = document.getElementById(labelId);
                                if (label) label.innerText = data.mezcla_nutricional[nutriente];
                            }
                        }
                    }
                                actualizarGraficoMezcla(data.mezcla_nutricional);
                })
                .catch(err => console.error(err));
        }

        // Escucha cambios en los inputs
        document.addEventListener("input", (e) => {
            if (e.target.matches(".input_dietas")) {
                mostrarMezcla();
            }
        });

    </script>
</body>

</html>