<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/iconos/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <link rel="stylesheet" href="/src/static/css/reporte.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@0.9.8/dist/driver.min.css">
    <!-- Driver.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/driver.js@0.9.8/dist/driver.min.js"></script>
    <title>Edupork</title>
</head>

<body class="body__porcinos">
    <section class="section-nav-bar" >
        <div class="container-user">
            <div class="container__btn__perfil">
                <img src="../static/iconos/icon user.svg" alt="" width="25" class="svg__user__2">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
            <div class="menu">
                <img src="../static/iconos/menu_icon.svg" alt="" class="menu-icons">
                <img src="../static/iconos/close_icon.svg" alt="" class="menu-icons">
            </div>
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html"> <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="manejarClickRol(event)">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html"  onclick="manejarClickRol(event)">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt="" class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/gestionar_dietas.html">
                            <img src="../static/iconos/icon plate.svg" width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/reportes.html" onclick="manejarClickRol(event)">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="section__porcinos section-contenido">

        <section class="container__logo__user">
            <div class="container__back__logo" >
                <a href="/src/templates/configuracion.html">
                    <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                </a>
                <a href="/src/templates/home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil" id="btnPerfil">
                    <toco id="nombreUsuarioTexto"></toco>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="usuario-menu" id="usuarioMenu">
                    <a href="perfil.html">Mi perfil</a>
                    <a href="#" id="cerrarSesionBtn">Cerrar sesión</a>
                </div>
            </div>
        </section>

        <header class="container container__title">
            <h1>Centro de Ayuda</h1>
        </header>
        <div class="content_centro">


            <div class="menu_centro">
                <div class="menu-item_centro" onclick="window.location.href='contacto.html'">
                    <img src="iconos/cuenta.svg" alt="Cuenta" class="icono_centro"> 
                    <p>Contactanos</p>
                </div>


                <div class="menu-item_centro" onclick="window.location.href='info.html'">
                    <img src="iconos/incono_salida.svg" alt="Cerrar sesión" class="icono_centro"> <p>Informacion de la aplicacion</p>
                </div>
            </div>
        </div>

    </section>
    <!-- al final de tu HTML -->
    <script src="/src/static/js/script.js"></script>

</body>
</html>