<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <title>Edupork</title>
</head>

<body class="body__porcinos">
    <nav class="nav__bar">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/src/templates/index.html" onclick="redirectWithDelay(event, 'index.html')"><img
                        src="/src/static/iconos/home icon.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/notificacions.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')"><img src="/src/static/iconos/icon pig.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')"><img src="/src/static/iconos/icon wheate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon plate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon page.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')"><img
                        src="/src/static/iconos/icon user.svg" alt=""></a>
            </li>
            <li class="nav__item active">
                <a href="/src/templates/configuracion.html"onclick="redirectWithDelay(event, 'configuracion.html')"><img src="/src/static/iconos/icon setting.svg" alt=""></a>
            </li>
            <div class="indicador"></div>
        </ul>
    </nav>

    <section class="section__porcinos">

        <section class="container__logo__user">
            <div class="container__back__logo" >
                <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                <a href="/src/templates/index.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
        </section>

        <div class="content_configuracion">

            <h1 class="title_configuracion">Configuración</h1>

            <div class="menu_configuracion">
                <div class="menu-item_configuracion" onclick="abrirPanel('cuenta')">
                    <img src="iconos/cuenta.svg" alt="Cuenta" class="icono_configuracion"> Cuenta
                </div>
                <div class="menu-item_configuracion" onclick="abrirPanel('ajustar')">
                    <img src="iconos/ajustes.svg" alt="Ajustar" class="icono_configuracion"> Ajustar campos
                </div>
                <div class="menu-item_configuracion" onclick="abrirPanel('notificaciones')">
                    <img src="iconos/notificacion_2.svg" alt="Notificaciones" class="icono_configuracion">
                    Notificaciones
                </div>
                <div class="menu-item_configuracion" onclick="abrirPanel('ayuda')">
                    <img src="iconos/signo_interrogacion.svg" alt="Ayuda" class="icono_configuracion"> Ayuda
                </div>
                <div class="menu-item_configuracion" onclick="abrirPanel('terminos')">
                    <img src="iconos/incono_exclamacion.svg" alt="Términos" class="icono_configuracion"> Términos y
                    condiciones
                </div>
                <div class="menu-item_configuracion" onclick="abrirPanel('cambiar')">
                    <img src="iconos/incono_cambiar.svg" alt="Cambiar cuenta" class="icono_configuracion"> Cambiar
                    cuenta
                </div>
                <div class="menu-item_configuracion" data-bs-toggle="modal" data-bs-target="#modalCerrarSesion">
                    <img src="iconos/incono_salida.svg" alt="Cerrar sesión" class="icono_configuracion"> Cerrar sesión
                </div>

                <!-- al final de tu HTML -->
                <script src="/src/static/js/script.js"></script>
            </div>
        </div>
</body>
</html>