<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/static/css/sytle.css">
</head>
<body>
                <dialog active class="dialog-icon-eye" id="modal-eye-${element.id_alimento}">
                <div class="title-dialog">
                    <h2>Información del alimento</h2>
                    <hr>
                </div>
                <div class="contenido-modal">
                    <section class="seccion_modal">
                        <p>nombre</p>
                        <input class="input_add"  readonly>
                        <p>proteina cruda</p>
                        <input class="input_add" readonly>
                        <p>proteina cruda</p>
                        <input class="input_add"  readonly>
                        
                    </section>
                    <section class="seccion_modal"></section>
                    <section class="seccion_modal"></section>
                    <section class="seccion_modal"></section>
                
                
                </div>
                <div class="container-button-close">
                    <button onclick="cerrarModal('eye', ${element.id_alimento})" class="button-cerrar">Cerrar</button>
                </div>
            </dialog>
</body>
</html>