<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    
    <title>Edupork</title>
</head>
<body class="body__porcinos">
    <nav class="nav__bar">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" ><img src="/src/static/iconos/home icon.svg" alt=""></a>
            </li>
            <li class="nav__item active">
                <a href="/src/templates/notificaciones.html" ><img src="/src/static/iconos/notificacions.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')" ><img src="/src/static/iconos/icon pig.svg" alt=""></a>
            </li>
            <li class="nav__item"> 
                <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')"><img src="/src/static/iconos/icon wheate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon plate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon page.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')" ><img src="/src/static/iconos/icon user.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')" ><img src="/src/static/iconos/icon setting.svg" alt=""></a>
            </li>
            <div class="indicador"></div>
        </ul>
    </nav>
    <section class="section__noti">
        <section class="container__logo__user">
            <div class="container__back__logo" >
                <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                <a href="home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil" id="btnPerfil"></button>
            </div>
        </section>
        <header class="container container__title">
            <h1>Notificaciones</h1>
        </header>
        <section class="container__noti"> 
            <div class="titulo__noti">
                <h2>Hoy</h2>
            </div>
            <div class="menssage__noti">
                <p>Ya han pasado 3 días desde la ultima pesada de tus cerdos, Pésalos!!</p>
            </div>
            <div class="menssage__noti">
                <p>Es hora de elaborar una dieta, que esperas???</p>
            </div>
            <div class="titulo__noti">
                <h2>Anteriores</h2>
            </div>
            <div class="menssage__noti">
                <p>Hola</p>
            </div>
            <button type="button" class=" btn--noti">Ver notificaciones anteriores</button>
        </section>
    </section>
    <script src="/src/static/js/script.js"></script>
</body>
</html>