<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/src/static/css/sytle.css">
  <title>Edupork</title>
</head>

<body class="body__porcinos">
  <nav class="nav__bar">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" ><img src="/src/static/iconos/home icon.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/notificaciones.html"><img src="/src/static/iconos/notificacions.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')" ><img src="/src/static/iconos/icon pig.svg" alt=""></a>
            </li>
            <li class="nav__item"> 
                <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')"><img src="/src/static/iconos/icon wheate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon plate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon page.svg" alt=""></a>
            </li>
            <li class="nav__item  active">
                <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')" ><img src="/src/static/iconos/icon user.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')" ><img src="/src/static/iconos/icon setting.svg" alt=""></a>
            </li>
            <div class="indicador indicador__green"></div>
        </ul>
    </nav>
  <section class="section__porcinos">

    <section class="container__logo__user">
      <div class="container__back__logo" >
          <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
          <a href="/src/templates/home.html">
              <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
          </a>
      </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil" id="btnPerfil">
                    <span id="nombreUsuarioTexto"></span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="usuario-menu" id="usuarioMenu">
                    <a href="perfil.html">Mi perfil</a>
                    <a href="#" id="cerrarSesionBtn">Cerrar sesión</a>
                </div>
            </div>
    </section>

    <div class="content_perfil">
      <h1 class="title_perfil">Perfil</h1>
      <div class="perfil-wrapper">
        <section class="perfil-section">
          <div class="perfil-card">

            <!-- NUEVO: Contenedor para imagen y datos alineados en fila -->
            <div class="perfil-header">
              <div class="perfil-photo">

                <img src="/src/static/iconos/icon user.svg" alt="Foto 1">

              </div>
              <div class="perfil-datos">
                <p><strong>Nombre:</strong><span id="nombreUsuario" class="perfil-texto"></span></p>
                <p><strong>Nº identificación:</strong> <span id="identificacionUsuario" class="perfil-texto"></span></p>
                <p><strong>Correo:</strong> <span id="correoUsuario" class="perfil-texto"></span></p>
              </div>
            </div>

            <div class="perfil-descripcion">
              <p><strong>Descripción:</strong><br>soy uno de los desarrolladores web del proyecto...</p>
            </div>

            <div class="perfil-estadisticas">
              <div class="perfil-estadistica">
                <p>Dietas creadas</p>
                <span>3</span>
              </div>
              <div class="perfil-estadistica">
                <p>Informes creados</p>
                <span>1</span>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
    <!-- al final de tu HTML -->
    <script src="/src/static/js/script.js"></script>
    <script>cargarDatosPerfil()</script>
</body>
</html>