<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>
<body class="body__porcinos">
    <nav class="nav__bar">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" ><img src="/src/static/iconos/home icon.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/notificacions.svg" alt=""></a>
            </li>
            <li class="nav__item active">
                <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')" ><img src="/src/static/iconos/icon pig.svg" alt=""></a>
            </li>
            <li class="nav__item"> 
                <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')"><img src="/src/static/iconos/icon wheate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon plate.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="#"><img src="/src/static/iconos/icon page.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')" ><img src="/src/static/iconos/icon user.svg" alt=""></a>
            </li>
            <li class="nav__item">
                <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')" ><img src="/src/static/iconos/icon setting.svg" alt=""></a>
            </li>
            <div class="indicador"></div>
        </ul>
    </nav>
    <section class="section__porcinos" >

        <section class="container__logo__user">
            <div class="container__back__logo" >
                <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                <a href="/src/templates/home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
        </section>

        <header class= "container container__title">
            <h1>Gestionar Porcinos</h1>
        </header>

        <section class="container container__search__bar">

            <img src="/src/static/iconos/icon lupa.svg" alt="">
            <input type = "number" class = "input__id" id="input_id" placeholder = "Ingrese el ID del porcino" min="0" oninput = "this.value = Math.abs(this.value)">
            <div class="container__filtro">
                <img src="/src/static/iconos/icon filter.svg" alt="" id="svg__filter">
                <select name="" id="" class="filter">
                    <option value="" disabled selected >Filtrar por...</option>
                    <option value="">Sexo</option>
                    <option value="">Raza</option>
                    <option value="">Etapa de vida</option>
                    <option value="">Peso final</option>
                    <option value="">Estado</option>
                    <option value="">Consultar todo</option>
                </select>
            </div>

            <button type="button" class="btn" onclick="consulta_individual_porcino()">Consultar</button>
        </section>
        <div class="container__btn__agregar">
            <img src="/src/static/iconos/icon add.svg" alt="" class="svg__add">
            <button type="button" class="btn btn--agregar" onclick="location.href = 'add_porcinos.html' ">Agregar</button>
        </div>

        <section class="container__registros">
            <table class="table__registros">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Sexo</th>
                        <th>Raza</th>
                        <th>Etapa de vida</th>
                        <th>Peso Final</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="registros" id="info_porcinos">
                
                </tbody>
            </table>
        </section>
    </section>
    <script ></script>
    <script src="/src/static/js/script.js"></script>
    <script>
        consulta_general_porcinos();
    </script>
</body>
</html>