<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>
<body class="body__porcinos">
    <section class="section-nav-bar" >
        <div class="container-user">
            <div class="container__btn__perfil">
                <img src="../static/iconos/icon user.svg" alt="" width="25" class="svg__user__2">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
            <div class="menu">
                <img src="../static/iconos/menu_icon.svg" alt="" class="menu-icons">
                <img src="../static/iconos/close_icon.svg" alt="" class="menu-icons">
            </div>
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" > <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="manejarClickPorcino(event)">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt="" class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon plate.svg" width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Usuario</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section__porcinos section-contenido" >
        <section class="container__logo__user">
            <div class="container__back__logo" >
                <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                <a href="/src/templates/home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil" id="btnPerfil">
                    <span id="nombreUsuarioTexto"></span>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="usuario-menu" id="usuarioMenu">
                    <a href="perfil.html">Mi perfil</a>
                    <a href="#" id="cerrarSesionBtn">Cerrar sesión</a>
                </div>
            </div>
        </section>
        <header class= "container container__title">
            <h1>Gestionar Porcinos</h1>
        </header>

        <form class="container container__search__bar" id="container__search__bar" onsubmit="event.preventDefault(); consulta_filtros()">

            <img src="/src/static/iconos/icon lupa.svg" alt="">
            <input type = "number" class = "input__id" id="input_id" placeholder = "Ingrese el ID del porcino" min="0" oninput = "this.value = Math.abs(this.value)">
            <div class="container__filtro">
                <img src="/src/static/iconos/icon filter.svg" alt="" id="svg__filter">
                <select name="filter" id="filter_porcino" class="filter" >
                    <option value="" disabled selected >Filtrar por...</option>
                    <option value="sexo">Sexo</option>
                    <option value="raza">Raza</option>
                    <option value="etapa">Etapa de vida</option>
                    <option value="peso_final">Peso final</option>
                    <option value="estado">Estado</option>
                </select>
            </div>

            <button type="submit" class="btn" id="btn_consultar">Consultar</button>
        </form>
        
        <div class="container__btn__options">
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon add.svg" alt="" class="svg__add">
                <button type="button" class="btn btn--agregar" onclick="location.href = 'add_porcinos.html' ">Agregar Porcino</button>
            </div>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon gestion.svg" alt="" class="svg__btn svg--gesti" width="35px">
                <button type="button" class="btn btn--options" id="abrir__digraz" onclick="abrirDialog('dialog__ges__raz')">Gestionar Raza</button>
            </div>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon gestion.svg" alt="" class="svg__btn svg--gesti" width="35px">
                <button type="button" class="btn btn--options" id="abrir__digeta" onclick="abrirDialog('dialog__ges__eta')">Gestionar Etapa</button>
            </div>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon actua.svg" alt="" class="svg__btn svg--actua" width="25px">
                <button type="button" class="btn btn--options--actua" onclick="abrirDialog('dialog__his__peso')">Historial Peso</button>
            </div>
        </div>

        <section class="container container__registros">
            <table class="table__registros">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Sexo</th>
                        <th>Raza</th> 
                        <th>Etapa de vida</th>
                        <th>Peso Final</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="registros" id="info_porcinos">
                
                </tbody>
            </table>
        </section>
    </section>
    <!-- DIALOGS -->
    <!-- DIALOG DE GESTIONAR RAZA -->
    <dialog class="dialog__ges__raz" id="dialog__ges__raz">
        <div class="container__btn__close">
            <button type="button" id="cerrar__digraz" class="btn__close btn__close__cruds" onclick="cerrarDialog('dialog__ges__raz')">X</button>
        </div>
        <div class="container__items__dialogs">
            <div class="title-dialog">
                <h2>Gestionar Raza</h2>
                <hr>
            </div>
            <form class="container__search__bar bar--gestion" onsubmit="event.preventDefault(); consulta_indi_raza(mostrar = true)">
                <div class="conta__lupa__inp">
                    <img src="/src/static/iconos/icon lupa.svg" alt="lupa">
                    <input type = "number" class = "input__id" id="input_id_raza" placeholder = "Ingrese el ID de la raza" min="0" oninput = "this.value = Math.abs(this.value)" required>
                </div>
                <div>
                    <button type="submit" class="btn">Consultar</button>
                </div>
            </form>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon add.svg" alt="" class="svg__add">
                <button type="button" class="btn btn--agregar" onclick="abrirDialog('dialog-registrar-raza')">Agregar Raza</button>
            </div>
            <div class="container container__registros container__registros__dia">
                <table class="table__registros table__regis__dia">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="registros" id="razas">
                        
                    <tbody class="registros" id="razas">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <!-- DIALOG DE GESTIONAR ETAPA -->
    <dialog class="dialog__ges__raz" id="dialog__ges__eta">
        <div class="container__btn__close">
            <button type="button" id="cerrar__digeta" class="btn__close btn__close__cruds" onclick="cerrarDialog('dialog__ges__eta')">X</button>
        </div>
        <div class="container__items__dialogs">
            <div class="title-dialog">
                <h2>Gestionar Etapas</h2>
                <hr>
            </div>
            <form class="container__search__bar bar--gestion" onsubmit="event.preventDefault(); consulta_indi_etapas(mostrar = true)">
                <div class="conta__lupa__inp">
                    <img src="/src/static/iconos/icon lupa.svg" alt="">
                    <input type = "number" class = "input__id" id="input_id_etapa" placeholder = "Ingrese el ID de la etapa" min="0" oninput = "this.value = Math.abs(this.value)" required>
                </div>
                <div>
                    <button type="submit" class="btn">Consultar</button>
                </div>
            </form>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon add.svg" alt="" class="svg__add">
                <button type="button" class="btn btn--agregar" onclick="abrirDialog('dialog-registrar-etapa')" >Agregar Etapas</button>
            </div>
            <div class="container container__registros container__registros__dia">
                <table class="table__registros table__regis__dia">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="registros" id="etapas_vida">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>

    <!-- DIALOG Historial de pesos -->
    <dialog class="dialog__ges__raz" id="dialog__his__peso">
        <div class="container__btn__close">
            <button type="button" id="cerrar__digeta" class="btn__close btn__close__cruds" onclick="cerrarDialog('dialog__his__peso')">X</button>
        </div>
        <div class="container__items__dialogs">
            <div class="title-dialog">
                <h2>Historial de pesos</h2>
                <hr>
            </div>
            <form class="container__search__bar bar--gestion" onsubmit="event.preventDefault(); consulta_porcino_historial(mostrar = true)">
                <div class="conta__lupa__inp">
                    <img src="/src/static/iconos/icon lupa.svg" alt="">
                    <input type = "number" class = "input__id" id="input_id_hp" placeholder = "Ingrese el ID del porcino" min="0" oninput = "this.value = Math.abs(this.value)" required>
                </div>
                <div>
                    <button type="submit" class="btn">Consultar</button>
                </div>
            </form>
            <div class="container__btn__agregar">
                <img src="/src/static/iconos/icon actua.svg" alt="" class="svg__add">
                <button type="button" class="btn btn--agregar" onclick="abrirDialog('dialog-actualizar-peso')">Actualizar peso</button>
            </div>
            <div class="container container__registros container__registros__dia">
                <table class="table__registros table__regis__dia">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>porcino</th>
                            <th>Peso registrado</th>
                            <th>Fecha de pesado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="registros" id="historial_pesos">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>

    <script src="/src/static/js/script.js"></script>
    <script>
        consulta_general_porcinos();
    </script>
</body>
</html>