<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/src/static/js/script.js"></script>
    <title>Edupork</title>
</head>
<body class="body__registro">
    <section>
        <img class="nubes" src="/src/static/iconos/NubeOne.svg" alt="nubes">
        <img class="nubes2" src="/src/static/iconos/NubeTwo.svg" alt="nubes2">
        <img class="rancho" src="/src/static/iconos/Rancho.svg" alt="rancho">
    </section>
    <div class="container-form">
    <div id="google-btn-container" class="button-r"></div>

        <form class="form__registro">
            <fieldset>
                <legend>O correo electronico</legend>
            </fieldset>
            <div class="form-input">
                <label class="label__registro" for="fname">Nombre Completo</label>
                    <input class='input_register' type="text" id="fname" placeholder="Escriba su Nombre Completo" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="tipo_identificacion">Tipo de identificacion</label>
                <select name="type-of-ide" id="tipo_identificacion" required>
                    <option value="" disabled selected>Seleccione el tipo de identificacion</option>
                    <option value="2">Tarjeta de identidad</option>
                    <option value="1">Cedula de Ciudadania</option>
                </select>
            </div>
            <div class="form-input">
                <label class="label__registro" for="n.i">Número de identificación</label>
                    <input class='input_register' type="number" id="n.i" placeholder="Digite su identificacion" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="correo">Correo electrónico</label>
                    <input class='input_register' type="email" id="correo" placeholder="example@gmail.com" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="password">Contraseña</label>
                    <input class='input_register'type="password" id="password" placeholder="Digite su contraseña" required minlength="8">
            </div>
            <div class="form-input">
                <label class="label__registro" for="confirmPassword">Confirmar contraseña</label>
                    <input class='input_register'type="password" id="confirmPassword" placeholder="Confirme su contraseña" required minlength="8">
            </div>
            <div id="mensaje" class="alerta"></div>
            <button type="submit" class="btn btn__registro" value="Registrar" onclick="registro_usuarios()">Registrar</button>
        </form>
    </div>
    <section>
        <img class="logoedupork" src="/src/static/iconos/Logo.svg" alt="logoedupork">
        <img class="pasto" src="/src/static/iconos/Pasto.svg" alt="pasto">
        <img class="porcino" src="/src/static/iconos/Porcino.svg" alt="porcino">
    </section>
</body>
</html>