<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">

    <script src="/src/static/js/script.js"></script>
    <script src="/src/static/js/driver.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>
<body class="body__registro">
    <section>
        <img class="nubes" src="/src/static/iconos/NubeOne.svg" alt="nues">
        <img class="nubes2" src="/src/static/iconos/NubeTwo.svg" alt="nubes2">
        <img class="rancho" src="/src/static/iconos/Rancho.svg" alt="rancho">
    </section>
    <div class="container-form">
        <button class="button-r"> <img class="icon-google" src="/src/static/iconos/icon google.svg" alt="icon-google">Registrarse con google</button>
        <form class="form__registro" id="form__registro" onsubmit="event.preventDefault(); registro_usuarios()">
            <fieldset>
                <legend>O correo electronico</legend>
            </fieldset>
            <div class="form-input">
                <label class="label__registro" for="fname">Nombre Completo</label>
                    <input class='input_register' type="text" id="fname" placeholder="Escriba su Nombre Completo" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="tipo_identificacion">Tipo de identificacion</label>
                <select name="type-of-ide" id="tipo_identificacion" required>
                    <option value="" disabled selected>Seleccione el tipo de identificacion</option>
                    <option value="2">Tarjeta de identidad</option>
                    <option value="1">Cedula de Ciudadania</option>
                </select>
            </div>
            <div class="form-input">
                <label class="label__registro" for="n.i">Número de identificación</label>
                    <input class='input_register' type="number" id="n.i" placeholder="Digite su identificacion" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="correo">Correo electrónico</label>
                    <input class='input_register' type="email" id="correo" placeholder="example@gmail.com" required>
            </div>
            <div class="form-input">
                <label class="label__registro" for="password">Contraseña</label>
                    <input class='input_register'type="password" id="password" placeholder="Digite su contraseña" required minlength="8">
            </div>
            <div class="form-input">
                <label class="label__registro" for="confirmPassword">Confirmar contraseña</label>
                    <input class='input_register'type="password" id="confirmPassword" placeholder="Confirme su contraseña" required minlength="8">
            </div>
            <div id="mensaje" class="alerta"></div>
            <button type="submit" class="btn btn__registro" value="Registrar">Registrar</button>
        </form>
    </div>
    <section>
        <img class="logoedupork" src="/src/static/iconos/Logo.svg" alt="logoedupork">
        <img class="pasto" src="/src/static/iconos/Pasto.svg" alt="pasto">
        <img class="porcino" src="/src/static/iconos/Porcino.svg" alt="porcino">
    </section>
        <div onclick="iniciarTourAlimentos()" class="ayuda">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#fff" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 14a1 1 0 1 0 0 2a1 1 0 0 0 0-2m0-9.5a3.625 3.625 0 0 0-3.625 3.625a1 1 0 1 0 2 0a1.625 1.625 0 1 1 2.23 1.51c-.676.27-1.605.962-1.605 2.115V14a1 1 0 1 0 2 0c0-.244.05-.366.261-.47l.087-.04A3.626 3.626 0 0 0 12 6.5"/></g></svg>
    </div>
</body>
</html>