<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/static/css/sytle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edupork</title>
</head>
<body class="body__porcinos">
    <section class="section-nav-bar" >
        <div class="container-user">
            <div class="container__btn__perfil">
                <img src="../static/iconos/icon user.svg" alt="" width="25" class="svg__user__2">
                <button type="button" class="btn__perfil">Juan Tovar</button>
            </div>
            <div class="menu">
                <img src="../static/iconos/menu_icon.svg" alt="" class="menu-icons">
                <img src="../static/iconos/close_icon.svg" alt="" class="menu-icons">
            </div>
        </div>
        <div class="barra-lateral">
            <div>
                <div class="logo-edupork">
                    <img id="cerdo" class="nombre" src="../static/iconos/cerdo.png" width="20px" alt="">
                    <span>Edupork</span>
                </div>
            </div>
            <nav class="navegacion">
                <ul class="ul-navegacion">
                    <li>
                        <a href="/src/templates/home.html" onclick="redirectWithDelay(event, 'home.html')" > <!--dar estilo -->
                            <img src="../static/iconos/home icon.svg" width="20px" alt="" class="icons-bar">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/notificaciones.html">
                            <img src="../static/iconos/notificacions.svg" width="20px" alt="" class="icons-bar">
                            <span>Notificaciones </span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/porcinos.html" onclick="redirectWithDelay(event, 'porcinos.html')">
                            <img src="../static/iconos/icon pig.svg" width="20px" alt="" class="icons-bar">
                            <span>Porcinos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/alimentos.html" onclick="redirectWithDelay(event, 'alimentos.html')">
                            <img src="../static/iconos/icon wheate.svg" title="alimentos" width="20px" alt="" class="icons-bar">
                            <span>Alimentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon plate.svg" width="20px" alt="" class="icons-bar">
                            <span>Dietas</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../static/iconos/icon page.svg" alt="" class="icons-bar">
                            <span>Informes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/perfil.html" onclick="redirectWithDelay(event, 'perfil.html')">
                            <img src="../static/iconos/icon user.svg" width="20px" alt="" class="icons-bar">
                            <span>Usuario</span>
                        </a>
                    </li>
                    <li>
                        <a href="/src/templates/configuracion.html" onclick="redirectWithDelay(event, 'configuracion.html')">
                            <img src="../static/iconos/icon setting.svg" width="20px" alt="" class="icons-bar">
                            <span>Configuración</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="section__porcinos" >

        <section class="container__logo__user">
            <div class="container__back__logo" >
                <img src="/src/static/iconos/back icon.svg" alt="icon back" class="icon__back">
                <a href="/src/templates/home.html">
                    <img src="/src/static/iconos/Logo.svg" alt="Logo Edupork" class="logo">
                </a>
            </div>      
            <div class="container__user__btn">
                <img src="/src/static/iconos/icon user.svg" alt="" class="svg__user">
                <button type="button" class="btn__perfil">David</button>
            </div>
        </section>

          <header class="content_reportes_pesos">
         <h2 class="title_reportes_pesos">Generar informes de alimentos más y menos utilizados</h2>
        </header>
            <section class="container container__reportes_pesos">
        <!-- Ícono documento -->
        <img src="/src/static/iconos/Vector (6).svg" alt="icono informe" class="icon__informe">


<!-- Buscador por ID -->
    <div class="dropdown filtro-fecha">
        <input type="text" class="input__id" id="input_rango_fecha" placeholder="ID de alimento">
        <div class="dropdown__content"></div>
    </div>

    <!-- Filtro con icono -->
    <div class="dropdown filtro-peso">
        <img src="/src/static/iconos/icon filter.svg" alt="icon filtro" class="icon__filtro_dropdown">
        <input type="text" class="input__id" id="input_filtro_peso" placeholder="Alimentos" readonly>
        <div class="dropdown__content">
            <a onclick="cargarReporteAlimentos('mayor')">Mayor consumido</a>
<a onclick="cargarReporteAlimentos('menor')">Menor consumido</a>
<a onclick="cargarReporteAlimentos('todos')">Todos</a>

        </div>
    </div>

    <!-- Rango de fecha -->
    <div class="dropdown filtro-fecha">
        <input type="text" class="input__id" id="input_rango_fecha" placeholder="Escoja el rango de fecha..." readonly>
        <div class="dropdown__content">
            <a href="#">Última semana</a>
            <a href="#">Últimos 15 días</a>
            <a href="#">Último mes</a>
            <a href="#">Últimos 6 meses</a>
            <a href="#">Último año</a>
        </div>
    </div>
<img src="/src/static/iconos/exportar_pdf.svg" 
     alt="icono export" 
     class="icon__export" 
     onclick="exportarReporteAlimentos()">

    </section>

<!-- TABLA --><section class="container__Reportes_alimento_">

    <div class="contenido__tabla">   <!-- AGREGADO -->
        <table class="table__alimento">
            <thead id="cabecera-alimentos">
                <tr> 
                    <th></th>
                    <th>ID alimento</th>
                    <th>Mayor consumido se usó en</th>
                    <th>Menor consumido se usó</th>
                    <th>Promedio de cantidad usada (KG)</th>
                     <th></th>
                </tr>
            </thead>

            <tbody class="registros" id="contenido"></tbody>
        </table>
    </div> <!-- FIN DEL DIV AGREGADO -->

</section>


</div>

    <script src="/src/static/js/script.js"></script>
    <script>
        consulta_alimentos();
    </script>
</body>
</html>