/* general (barra de navegacion) */
:root{
    /* fondo de contenidos */
    --color--fondos:#D9D9D9;
    /* color de letras cuando esta en el fondo del contenido  */
    --color--letra:#60836A;
    /* color letra predeterminada */
    --color-letra-predeter: #2C3D31;
    /* tipogrrafia en titulos */
    --fuente-titulos: 'Times New Roman', Times, serif;
    /*tipografia en contenido*/
    --fuente--contenido: 'Inter';
    /* color de los botones sin hover*/
    --color--btn--sin--hover:#99A69A;
    /* color de los botones con hover*/
    --color--btn--hover: #215718;
    /* color de los border de los containers */
    --color-bor-contain: #7C7A7A;
    /* color de los border des los botones son hover */
    --color-bor-btn: #716B6B;
    /* color de los borde de los botones con hover */
    --color-bor-btn-hover: #14350F;
    /* color de background de los registros */
    --color-bg-registros: #AFAEAE;
    /* color del borde de los registros */
    --color-bor-registros: #918D8D;
    --color-white: #fff;
    --color-black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* el ancho es de 90 porque asi esta en el figma, ya despues se pone responsive */
.nav__bar{
    width: 90px;
    height: 100dvh;
    background-color: #60836A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky; /*Sirve para centrar el ul*/
    left: 0;
}

.nav__bar ul{
    display: flex;
    flex-direction: column;
    align-items: center; /*sirve para que los elementos del ul se alinien todos*/
    padding: 0;
    gap: 17px;
}

.nav__bar ul li{
    position: relative;
    z-index: 1;
    list-style: none;
}

.nav__bar ul li a {
    display: flex;
    align-items: center;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

.nav__bar ul li a img{
    transition: 0.5s;
}

.nav__bar ul li.active a img{
    transform: translateX(30px);
}

.indicador{
    box-sizing: border-box;
    position: absolute;
    top: 18px;
    left: 36px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #fff;
    background-color: var(--color--letra);

}


.nav__bar ul li:nth-child(1).active ~ .indicador{
    transform: translateY(0);
}
.nav__bar ul li:nth-child(2).active ~ .indicador{
    transform: translateY(5.3em);
}
.nav__bar ul li:nth-child(3).active ~ .indicador{
    transform: translateY(10.6em);
}
.nav__bar ul li:nth-child(4).active ~ .indicador{
    transform: translateY(16.2em);
}
.nav__bar ul li:nth-child(5).active ~ .indicador{
    transform: translateY(21.7em);
}
.nav__bar ul li:nth-child(6).active ~ .indicador{
    transform: translateY(27em);
}
.nav__bar ul li:nth-child(7).active ~ .indicador{
    transform: translateY(32.7em);
}
.nav__bar ul li:nth-child(8).active ~ .indicador{
    transform: translateY(38.5em);
    border: 6px solid #4faa3c;
}





/* -------------------
SECCION DE REGISTROS
------------------- */
.body__registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(183, 100%, 93%);
    color: white;
    overflow: hidden;
    font-family: var(--fuente--contenido);
}

/* CONTENEDOR */
.container-form {
    background-color: #60836a;
    padding: 0px 10px 25px 10px;
    border-radius: 35px;
    width: 566px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(80, 129, 84, 0.7);
}

.label__registro {
    font-size: 15px;
    line-height: 1.5em;
}

.form-input {
    margin: 0px 10px 3px;
    padding: 0 70px;
}

input, select {
    color: #434242;
    background-color: #f1f1f1;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 9px;
    transition: all 0.3s ease;
    font-family: var(--fuente--contenido);
}

input:focus, select:focus {
    outline: 2px solid rgba(80, 129, 84, 0.7);
    background-color: #ffffff;
}

legend {
    padding: 0px 8px;
    text-align: center;
    font-size: 0.9em;
}

fieldset {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 70%;
    display: block;
    margin: 1px auto;
    padding: 10px;
}

.button-r {
    width: 50%;
    margin: 15px auto;
    padding: 13px;
    display: block;
    border: none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fuente--contenido);
}

.button-rr {
    display: block;
    width: 25%;
    margin: 25px auto 5px;
    padding: 8px;
    border: none;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fuente--contenido);
}

.button-rr:hover,
.button-r:hover {
    background-color: rgb(186, 187, 186);
}

img {
    max-width: 100%;
    height: auto;
}

.icon-google {
    position: sticky;
    width: 1.6vw;
    height: auto;
    top: 100vh;
    bottom: 50vh;
}

/* ALERTAS */
.alerta {
    padding: 3px;
    color: red;
    display: none;
    margin: 8px;
}

.success {
    color: rgb(108, 232, 108);
    margin: 10px;
}

#mensaje {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

/* FONDO DE LA PÃGINA */
.logoedupork {
    position: absolute;
    width: 20vw;
    right: 75%;
    bottom: 83vh;
}

.rancho {
    position: absolute;
    right: 72%;
    width: 28vw;
    height: auto;
    bottom: 1vh;
    z-index: -1;
    overflow: hidden;
}

.pasto {
    position: absolute;
    width: 100vw;
    height: auto;
    right: 0%;
    bottom: 0vh;
    z-index: -1;
    overflow: hidden;
}

.nubes {
    position: absolute;
    width: 24vw;
    height: auto;
    right: 72%;
    bottom: 75vh;
    z-index: -1;
}

.nubes2 {
    position: absolute;
    width: 25vw;
    left: 73%;
    bottom: 71vh;
    z-index: -1;
}

.porcino {
    position: absolute;
    width: 25vh;
    height: auto;
    left: 79%;
    bottom: 10vh;
    z-index: -1;
}

/* -------------------
SECCION DE HOME
------------------- */
.section__home{
    display: grid;
    grid-template-rows: 85px auto;
    gap: 15px;
    font-family: var(--fuente--contenido);
}

.titulo__home{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 35px;
    width: 750px;
}

.Parrafo__home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    text-align: center;
    font-size: 1.8em;
    margin: 10px auto 40px;
}

.PorcinoTwo{
    position: relative;
    z-index: 1;
    left: 45%;
}

.logoedupork__home {
    position: absolute;
    width: 20vw;
    right: 70%;
    bottom: 89vh;
}

/* -------------------
SECCION DE PORCINOS
------------------- */

/* CODIGO DE LA SECCION QUE CONTIENE EL ICONO DE REGRESAR EL LOGO Y EL USUARIO REGISTRADO */

.container{
    background-color: var(--color--fondos);
}

.body__porcinos{
    display: grid;
    grid-template-columns: 117px auto;
    background-image: url(/iconos/pasto.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.section__porcinos{
    display: grid;
    grid-template-rows: 85px 70px 60px 40px auto;
    gap: 30px;
}

.container__logo__user{
    display: flex;
    justify-content: space-between;
}

.container__back__logo{
    display: flex;
    align-items: center;
}

.icon__back{
    width: 3rem;
    height: 4rem;
    cursor: pointer;
}

.logo{
    width: 262px;
    height: 88px;
    cursor: pointer;
}

.container__user__btn{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.svg__user{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 28px;
    left: 15px;
}

.btn__perfil{
    background-color: var(--color--letra);
    color: var(--color-white);
    width: 150px;
    height: 45px;
    padding-left: 40px;
    font-family: var(--fuente--contenido);
    font-size: 15PX;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}

/* CODIGO DE LA SECCION DEL TITULO */

.container__title{
    color: var(--color--letra);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 6px 0;
    font-size: 30px;
    width: 750px;
    border: 1px solid var(--color-bor-contain);
    border-radius: 14px;
}

/* CODIGO DE LA BARRA DE BUSQUEDA */

.container__search__bar{
    border: 1px solid var(--color-bor-contain);
    border-radius: 14px;
    display: flex;
    align-items: center;
    width: 1100px;
    height: 60px;
    margin: auto;
    padding-left: 3em;
    gap: 7em;
    font-family: var(--fuente--contenido);
}

.input__id{
    width: 220px;
    height: 40px;
    padding-left: 18px;
    border: 1px solid var(--color-bor-contain);
    border-radius: 26px;
    font-family: inherit;
    outline: none;
}

.container__filtro{
    position: relative;
    display: flex;
}

#svg__filter{
    position: absolute;
    top: 11px;
    left: 12px;
    font-family: inherit;
}

.filter{
    width: 250px;
    height: 40px;
    padding-left: 35px;
    border-radius: 10px;
    color: #7C7A7A;
    outline: none;
}

.btn{
    background-color: var(--color--btn--sin--hover);
    color: var(--color-white);
    width: 130px;
    height: 40px;
    border: 1px solid var(--color-bor-btn);
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--color--btn--hover);
    border: 1px solid var(--color-bor-btn-hover);
}

/* CODIGO DE LA SECCION DEL BOTON DE AGREGAR */

.container__btn__agregar{
    position: relative;
    display: flex;
    font-family: var(--fuente--contenido);
    margin-left: 155px;
}

.svg__add{
    position: absolute;
    top: 11px;
    left: 15px;
}

.btn--agregar{
    width: 120px;
    padding-left: 20px;
}

/* CODIGO DE LA SECCION DE LOS REGISTROS DE LOS PORCINOS */

.container__registros{
    background-color: var(--color--fondos);
    width: 1200px;
    height: 320px;
    margin: auto;
    border: 1px solid var(--color-bor-contain);
    border-radius: 40px;
    overflow-y: scroll;
}
.container__registros::-webkit-scrollbar{
    display: none;
}

.table__registros{
    width: 1150px ;
    margin: auto;
    border-collapse: collapse;
    font-family: var(--fuente--contenido);
    color: var(--color-letra-predeter);
}

.registro{
    background-color: var(--color-bg-registros);
    text-align: center;
    border: 5px solid var(--color--fondos);
}

.svg__pig{
    position: relative;
    top: 5px;
}

.icon-edit{
    margin: 0 15px;
}

.td__border__l{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.td__border__r{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

th{
    padding: 20px 0;
}

/* CODIGO DE LAS ACCIONES VER, EDITAR Y ELIMINAR */

/* LO USO PAR OSCURECER EL FONDO */

.dialog-icon-eye::backdrop, .dialog-icon-edit::backdrop, .dialog-icon-dele::backdrop{
    background-color: #000b;
}

.icon-eye , .icon-edit, .icon-delete{
    cursor: pointer;
    transition: scale 0.5s;
}

.icon-eye:hover, .icon-edit:hover, .icon-delete:hover{
    scale: 1.1;
}

/* DIALOG ICON EYE */

.dialog-icon-eye, .dialog-icon-edit, .dialog-icon-dele{
    background-color: #d4d4d4;
    width: 882px;
    height: 490px;
    margin: auto;
    border-radius: 34px;
    border: 1px solid #000;

}

/* TUTULO DE LA VENTANA MODAL */

.title-dialog{
    color: #60836A ;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 8px;
}

/* GRID CON LOS INPUTS */

.info-porcino{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    font-family: var(--fuente--contenido);
}

.info-porcino > input, .info-porcino > div > input{
    background-color: #ece6f0;
    width: 200px;
    height: 40px;
    font-weight: 500;
    border: 1px solid #737171;
    border-radius: 18px;
    outline: none;
    padding: 10px 8px;
}

.info-porcino > label{
    margin-top: 10px;
    margin-bottom: 2px;
    line-height: 0.5;
    color: #2C3D31;
    font-weight: 700;
}

/* CONTAINER DEL BOTTON CERRAR */

.container-button-close, .container-button-guardar, .container-button-dele{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-cerrar, .button-guardar, .button-eliminar{
    background-color: #fff;
    color: #215718;
    width: 150px;
    height: 40px;
    font-weight: 900;
    border: 1px solid #215718;
    border-radius: 27px;
    transition: background-color .5s, color .5s;
}

.button-cerrar:hover, .button-guardar:hover, .button-eliminar:hover{
    background-color: #215718;
    color: #fff;
}

/* DIALOG ICON EDIT */

.container-inputs{
    position: relative;
}

.vector-edit{
    position: absolute;
    right: 0;
    bottom: 9px;
    margin-right: 14px;
}

hr{
    width: 550px;
    margin: auto;
    border: 1px solid #60836A;
}

/* DIALOG ICON DELETE */

.dialog-icon-dele{
    width: 529px;
    height: 397px;
    padding: 0 15px;
    text-align: center;
    font-weight: 600;
    font-family: var(--fuente--contenido);
}

.dialog-icon-dele .title-dialog{
    font-size: 20px;
}

    .dialog-icon-dele hr{
    width: 450px;
    margin-bottom: 50px;
}

.dialog-icon-dele p{
    color: #2C3D31;
    margin-bottom: 24px;
}